body{
    font-family:Montserrat,sans-serif;
    background-color:#f8f9fb;
}

a,a:hover,a:visited{
    text-decoration:none;
}

.btn{
    line-height:38px;
    display:inline-block;
    padding:0 10px;
    font-size:14px;
    font-weight:700;
    border-radius:0;
    margin-right:10px;
    text-transform:uppercase;
    -webkit-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
    background-color:#ce814d;
}

.btn,.btn:hover{
    color:#fefefe;
}

.btn:hover{
    background-color:#b57143;
}

.btn i{
    line-height:24px;
    margin-right:5px;
    font-size:10px;
}

.error-page{
    padding-top:25vh;
    text-align:center;
    display:block;
    margin:0 auto auto;
}

.no-found{
    font-size:48px;
    font-weight:700;
}

.error-text,.no-found{
    color:#313131;
    line-height:24px;
}

.error-text{
    font-size:14px;
    font-weight:400;
    width:50%;
    margin:30px auto;
}

.uf-copyright{
    font-size:10px;
}

.copyright{
    color:#c7c7c7;
    font-weight:300;
    line-height:24px;
    bottom:0;
    text-align:center;
    display:block;
    width:100%;
    margin-top:60px;
    margin-bottom:50px;
}

.error{
    color:#eaebed;
    font-size:250px;
    font-weight:700;
    line-height:0;
}

#astronaut-error{
    width:167px;
    height:272px;
}

#hand{
    z-index:1;
    animation:a 1.5s infinite linear;
    transform-origin:70% 100%;
    -moz-animation:a 1.5s infinite linear;
    -moz-transform-origin:59% 21%;
    -ms-transform-origin:0 100%;
}

@keyframes a{
    0%{
        transform:rotate(0deg);
    }
    50%{
        transform:rotate(10deg);
    }
    to{
        transform:rotate(0deg);
    }
}

@media (max-width: 992px){
    .copyright{
        margin:30px auto 0;
        bottom:inherit;
        padding:0 15px 30px;
        position:relative;
        width:80%;
        display:block;
    }

    .error-text{
        width:100%;
    }

    .no-found{
        line-height:56px;
    }
}

@media (max-width: 650px){
    .error{
        font-size:180px;
    }
}

@media (max-width: 480px){
    .no-found{
        line-height:50px;
        font-size:46px;
        margin-top:20px;
    }

    .error-text{
        margin:20px auto;
    }

    .error{
        font-size:100px;
    }
}

@media screen and (max-width: 375px){
    .error-page{
        padding-top:20vh;
    }
}